.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

#song_name{
    box-shadow:5px 5px 5px grey;
    font-size:25px;
    padding:10px;
    margin:100px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}